.budgetCategoriesPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.budgetCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 60%;
  overflow-y: auto;
}

.transactions {
  align-items: center;
  display: flex;
  flex-direction: column;
  // height: 80%;
  width: 100%;
  overflow-y: auto;
}

.budgetCategoryContainer {
  display: flex;
  clip-path: polygon(
    0 0,
    95% 0,
    100% 50%,
    100% 100%,
    5% 100%,
    0 50%
  );
  text-align: center;
  background-color: #2a614d99;
}

.categoryTitleContainer {
  text-align: center;
  width: 100%;
}

.transactionsContainer {
  align-items: center;

  display: flex;
  clip-path: polygon(
    0 0,
    95% 0,
    100% 50%,
    100% 100%,
    5% 100%,
    0 50%
  );
  height: 80%;
  text-align: center;
  background-color: #2a614d99;
  flex-direction: row;
  height: 100%;
}

.transactionsContainerWrap {
  margin-top: 3%;
  width: 50%;
  height: 100%;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
}

.transactions::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(15,0,0,0.3);
	border-radius: 10px;
	background-color: #ddd;
}

.transactions::-webkit-scrollbar
{
	width: 7px;
	background-color: #ddd;
}

.transactions::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(15,0,0,.3);
	background-color: #555;
}

.categoryAmount {
  flex: 4;
}

.transactionDetail {
  text-align: center;
}

.transactionSource {
  flex: 5;
}

.transactionDate {
  flex: 4;
}

.transactionAmount {
  flex: 3;
}


.trash {
  height: 24px;
  width: 24px;
}

.pencil {
  height: 24px;
  width: 24px;
}

.transactionTrashContainer {
  flex: 1;
  display: flex;
  align-items: center;
  color: #ff3333;
}

.pencilContainer {
  // flex: 2;
  display: flex;
  align-items: center;
  color: #007ba0;
}

.iconSeparator{
  margin-left: 10px;
  margin-right: 10px;
}

.budgetColor {
  color: #00c4ff;
}

.overBudgetColor {
  color: #ff3333;
}

.addTransactionButton {
  text-align: center;
  border: none;
  background-color: transparent;
}

.addTransaction {
  display: flex;
  background-color: #007ba0bb;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  border-radius: 100px;
  height: 5%;
  width: 10%;
}

.addTransaction:hover {
  background-color: #21ab79;
}

@media only screen and (max-width: 3440px) {
  .budgetCategory {
    width: 80%;
  }

  .transactionsContainerWrap {
    width: 70%;
  }

  .addTransaction {
    width: 20%;
  }
}

@media only screen and (max-width: 950px) {
  .budgetCategory {
    width: 80%;
  }

  .transactionsContainerWrap {
    width: 70%;
  }

  .addTransaction {
    width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .budgetCategory {
    height: 70%;
  }

  .transactionsContainerWrap {
    width: 95%;
    // height: 100%;
  }

  .addTransaction {
    height: 6%;
    width: 45%;
  }
}

@media only screen and (max-height: 400px) {
  .addTransaction {
    height: 10%;
    width: 30%;
  }
}
