.monthlyBudgetsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.monthlyBudgets {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 60%;
  overflow-y: auto;
}

.monthlyBudgetContainer {
  display: flex;
  clip-path: polygon(
    0 0,
    95% 0,
    100% 50%,
    100% 100%,
    5% 100%,
    0 50%
  );
  text-align: center;
  background-color: #2a614d99;
}

.monthlyBudgetContainerWrap {
  margin-top: 2%;
  width: 50%;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
}

.monthlyBudgets::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(15,0,0,0.3);
	border-radius: 10px;
	background-color: #ddd;
}

.monthlyBudgets::-webkit-scrollbar
{
	width: 7px;
	background-color: #ddd;
}

.monthlyBudgets::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(15,0,0,.3);
	background-color: #555;
}

.monthlyBudgetMonth {
  flex: 6;
}

.monthlyBudgetNet {
  flex: 1;
}

.iconContainer {
  display: flex;
  flex: 2;
  justify-content: center;
}

.budgetColor {
  color: #00c4ff;
}

.overBudgetColor {
  color: #ff3333;
}

.addMonthlyBudgetButton {
  text-align: center;
  border: none;
  background-color: transparent;
}

.addMonthlyBudget {
  display: flex;
  background-color: #007ba0bb;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 100%;
}

.addMonthlyBudget:hover {
  background-color: #21ab79;
}

.budgetYearSelect {
  width: 115px;
}

.autoAddBudget {
  flex: 6;
  margin-left: 2%;
  height: 100%;
}

.manuallyAddBudget {
  flex: 4;
  height: 100%;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  border-radius: 100px;
  height: 3%;
  width: 30%;
}

.trash {
  height: 24px;
  width: 24px;
}

.pencil {
  height: 24px;
  width: 24px;
}

.budgetTrashContainer {
  display: flex;
  align-items: center;
  color: #ff3333;
}

.pencilContainer {
  display: flex;
  align-items: center;
  color: #007ba0;
}

@media only screen and (max-width: 3440px) {
  .monthlyBudgets {
    width: 50%;
  }

  .monthlyBudgetContainerWrap {
    width: 70%;
  }

  .addMonthlyBudget {
    width: 20%;
  }
}

@media only screen and (max-width: 1400px) {
  .monthlyBudgets {
    width: 80%;
  }
}

@media only screen and (max-width: 950px) {
  .monthlyBudgets {
    width: 80%;
  }

  .monthlyBudgetContainerWrap {
    width: 70%;
  }

  .addMonthlyBudget {
    width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .monthlyBudgets {
    height: 70%;
  }

  .monthlyBudgetContainerWrap {
    margin-top: 5%;
    width: 100%;
  }

  .submitContainer {
    width: 70%;
    height: 7%;
  }

  .addMonthlyBudget {
    height: 100%;
    width: 100%;
    width: 45%;
  }
}

@media only screen and (max-height: 400px) {
  .addMonthlyBudget {
    height: 10%;
    width: 30%;
  }
}
